<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/html_header' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <section class="main-col w-100">
      <%= render 'layouts/flash_message' %>
      <%= yield %>
    </section>
    <ul>
      <li><%= link_to 'ユーザーログイン', new_user_session_path %></li>
      <li><%= link_to 'ユーザーログアウト', destroy_user_session_path, method: 'delete' %></li>
      <li><%= link_to 'ログイン', new_shop_session_path %></li>
      <li><%= link_to 'ログアウト', destroy_shop_session_path, method: 'delete' %></li>
    </ul>
  </body>
</html>
